<label>Server Name</label>
<!-- Property Binding [propertyToSet]="propertyToBind" -->
<!-- Event Binding (event)="methodToPerform()" -->
<!-- $event is a reserved keyword that provides certain collected data! -->
<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> -->
<!-- Two way binding [(ngModel)]="dataToBindTo" -->
  <input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
  <!-- Structural directives such as *ngIf provided by angular -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
  <p *ngIf="serverCreated" >Server was created, server name is {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>

